@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lato', 'Arial', sans-serif;
}

img {
    max-width: 100%;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #fbf4da;
    background-image: url();
    background-attachment: fixed;
    font-family: var(--body-font);
    font-weight: 400;
    margin: 0;
}
/* HEADINGS */

h1,
p {
    color: #fff;
    text-align: center;
    line-height: 1.4;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
}

span {
    font-family: papyrus;
}

/* BASIC SETUP */

.page-wrapper {
    width: 100%;
    height: auto;
}

.nav-wrapper {
    width: 100%;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: #fbf4da;
}

.grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #2e1d15, #EE7752);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}

/* NAVIGATION */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #fbf4da;
    border-bottom: 1px solid #2e1d15;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
    color: #2e1d15;
    font-size: 25px;
    font-weight: bolder;
    margin: 0;
    display: flex;
    align-items: center;
}

/* .navbar img {
    height: 16px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
} */


.navbar .nav {
    list-style: none;
    justify-self: end;
}

.nav-item a{
    color: #2e1d15;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
    padding: 10px;
}

.nav-item a:hover {
    color: #2e1d15;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* SECTIONS */

.headline {
    width: 100%;
    height: 50vh;
    min-height: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(hdFlyHigh.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline h1{
    font-size: xx-large;
    color: #e4c5ad;
}

.features {
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    display: flex;
    padding: 50px 20px;
    justify-content: space-around;
}

.feature-container {
    flex-basis: 30%;
    margin-top: 10px;
}

.feature-container p {
    color: #000;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 15px;
}

.feature-container img {
    width: 100%;
    margin-bottom: 15px;
}



input {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 0;
    /* FOR SAFARI */
    outline: 0;
    padding: 5px;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
}

.menu-toggle:hover {
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
    /* .features {
        flex-direction: column;
        padding: 0;
    } */

    /* MOBILE HEADINGS */

    h1 {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    /* MOBILE NAVIGATION */

    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: end;
        top: 55px;
        background-color: #fbf4da;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
    }

    .navbar li {
        padding: 15px;
    }

    .navbar li:first-child {
        margin-top: 50px;
    }

    .navbar li a {
        font-size: 1rem;
    }

    .menu-toggle,
    .bar {
        display: block;
        cursor: pointer;
    }

    .mobile-nav {
        transform: translate(0%) !important;
    }

    /* SECTIONS */

    .headline {
        height: 20vh;
        width: 100%;
        background-size: cover;
        background-position: center;
    }



}

.book-store {
    display: flex;
    flex-direction: column;
    /* max-width: 1400px; */
    height: auto;
    background-color: var(--page-bg-color);
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 2px 50px 10px rgba(0, 0, 0, 0.21);
}

#marquee-container {
    overflow: hidden;
    white-space: nowrap;
    background-color: #fbf4da;
    padding: 10px 0;
    width: 100%;
}

.marquee-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #2e1d15;
    animation: marquee 30s linear infinite;
}

.marquee-item {
    display: inline-block;
    padding: 0 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 100;
    border-right: 2px solid #2e1d15;
}

.marquee-item a {
    text-decoration: none;
    color: #2e1d15;
}

.marquee-item a:hover {
    font-weight: bolder;
}

.marquee-item:last-child {
    border-right: none;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


.book-slide {
    width: 100%;
    height: 350px;
}

.book {
    background: #fff;
}

.book-cell {
    position: relative;
    display: flex;
    padding: 25px;
    width: 40%;
    height: 250px;
    margin: 1px;
    border: 1px solid #2e1d15;

    &:nth-child(1) {
        background-color: #fbf4da;
    }

    &:nth-child(2) {
        background-color: #fbf4da;
    }

    &:nth-child(3) {
        background-color: #fbf4da;
    }

    &:nth-child(4) {
        background-color: #fbf4da;
    }

    &:nth-child(5) {
        background-color: #fbf4da;
    }
}

.flickity-page-dots {
    display: none;
}

.flickity-prev-next-button .arrow {
    fill: #d6d6d6;
}

.flickity-prev-next-button svg {
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
}

.flickity-prev-next-button {
    &.previous {
        left: 15px;
    }

    &.next {
        right: 15px;
    }
}

.flickity-viewport {
    overflow: visible;
}

.book-photo {
    width: 180px;
    flex-shrink: 0;
    bottom: -35px;
    left: 35px;
    border-radius: 2px;
    box-shadow: -2px 6px 19px 0px #7f818e;
    transition: .3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.book-img {
    flex-shrink: 0;
}

.book-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #2e1d15;
}

.book-title {
    color: #2e1d15;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.book-author {
    margin-top: 3px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #2e1d15;
}

.book-content {
    padding: 0 20px;
    color: #2e1d15;
    overflow: hidden;
}

fieldset,
label {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-size: 0.5em;
    margin: 10px;
}


.book-voters {
    color: #fff;
    vertical-align: sub;
    font-size: 13px;
    margin-left: 7px;
    white-space: nowrap;
    margin-top: 7px;
}

.book-sum {
    margin-top: 20px;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.book-see {
    margin-top: 25px;
    text-align: center;
    background-color: #fbf4da;
    border: 1px solid #2e1d15;
    color: #2e1d15;
    font-weight: 400;
    padding: 8px;
    font-size: 14px;
    width: 160px;
    border-radius: 20px;

    &:hover {
        color: #fbf4da;
        background-color: #2e1d15;
        opacity: 0.5;
    }

    &.book-blue {
        color: #2e1d15;

        &:hover {
            color: #fbf4da;
        }
    }

    &.book-pink {
        color: #2e1d15;

        &:hover {
            color: #fbf4da;
        }
    }

    &.book-yellow {
        color: #2e1d15;

        &:hover {
            color: #fbf4da;
        }
    }

    &.book-purple {
        color: #2e1d15;

        &:hover {
            color: #fbf4da;
        }
    }
}




.footer {
    background: #2e1d15;
    color: #fff;
    text-align: center;
    padding: 40px;
}

.footer h2 {
    margin-bottom: 20px;
}

.footer .contact-details p {
    margin: 5px 0;
    font-size: 16px;
}


@media (max-width: 1103px) {
    .book-cell {
        width: 60%;
    }
}

@media (max-width: 765px) {
    .book-cell {
        width: 80%;
    }
}

@media (max-width: 575px) {
    .book-cell {
        width: 100%;
    }
}

@media (max-width: 458px) {
    .book-photo {
        width: 180px;
    }

    .book-voters {
        display: none;
    }
}

@media (max-width: 420px) {
    .book-see {
        width: 120px;
        font-size: 13px;
    }

    .book-photo {
        width: 130px;
    }

    .main-wrapper {
        margin-top: 50px;
    }
}


@media (max-width: 1220px) {
    .card-vote {
        display: none;
    }
}

@media (max-width: 1085px) {
    .book-rate>label {
        font-size: .7em;
    }
}

@media (max-width: 1045px) {
    .books-of {
        display: none;
    }
}

@media (max-width: 725px) {

    /* .browse-category, */
    /* .search-bar {
        display: none;
    } */

    .header-title {
        margin-right: auto;
    }

    .book-cards {
        grid-template-columns: 1fr;
    }

    .book-types {
        display: none;
    }
}

@media (max-width: 372px) {
    .card-content {
        padding: 20px;
    }
}